{% extends "base.html" %}
{% load static %}
{% block body %}
<head>
    <title>Project Management System</title>
    <link rel="stylesheet" href="{% static "assets/css/projects.css" %}">
</head>
<body>
    <h1>Project Management System</h1>
    <h2>Add New Project</h2>
    <form id="project-form" action="{% url "task-list-create" %}">
        {% csrf_token %}
        <input type="text" id="project-title" placeholder="Task Title" required>
        <textarea id="project-description" placeholder="Select Project" required></textarea>
        <select id="project-user" required></select>
        <button type="submit">Add Task</button>
    </form>

    <div id="message"></div>

    <h2>Project List</h2>
    <div id="project-list" class="grid-container"></div>

    <!-- Edit Project Modal -->
    <div id="edit-modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close" id="cancel-edit">&times;</span>
                <h2>Edit Project</h2>
            </div>
            <div class="modal-body">
                <form id="edit-project-form">
                    {% csrf_token %}
                    <input type="hidden" id="edit-project-id">
                    <input type="text" id="edit-project-title" placeholder="Project Title" required>
                    <textarea id="edit-project-description" placeholder="Project Description" required></textarea>
                    <select id="edit-project-user" required></select>
                    <button type="submit">Save Changes</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="cancel-button">Cancel</button>
            </div>
        </div>
    </div>
    <script src="{% static "assets/js/projects.js" %}"></script>
</body>
</html>
{% endblock body %}